{% extends 'music/base.html' %}

{% block body %}
<div class="container">
  <div class="row">
  {% if all_albums %}
    {% for album in all_albums %}
    <!-- <a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a> -->
    <div class="card col-xs-5 col-sm-3">
      <img class="card-img-top img-fluid" src="{{ album.album_logo }}" />
      <div class="card-body">
        <h5 class="card-title">{{ album.album_title }}</h5>
        <p class="card-text">{{ album.artist }}</p>
        <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm">View detail</a>

        <!-- Delete -->
        <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
          {% csrf_token %}
          <input type="hidden" name="album_id" value="{{ album_id }}" />
          <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          </form>

          <!-- Favourite -->
          <a href="#" class="btn btn-default btn-sm-btn-favourite">
            <span class="glyphicon glyphicon-star {% if album.is_favourite %}active{% endif %}"></span>
          </a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
  </div>
{% endblock %}
